.btn{
    display: inline-block;
    cursor: pointer;
    border:1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    padding:10px 30px;
    text-decoration: none;

    transition: all .3s;
}
.btn:hover{
    background-color: #ffffff;
    color: #000;
}
.btn:active{
    background-color: #333333;
    color: #ffffff !important;
}


.btn-blueMain{
    border:1px solid #009ACD;
    background-color: #009ACD;
}

.btn-blueMain:hover{
    color: #009ACD;
}
.btn-blueMain:active{
    background-color: #00B2EE;
}



.btn-redMain{
    border:1px solid #CC0000;
    background-color: #CC0000;
}
.btn-redMain:hover{
    color: #CC0000;
}
.btn-redMain:active{
    background-color: #FF3333;
    /*color: #ffffff;*/
}

.btn-greenMain{

    border:1px solid #008800;
    background-color: #008800;
}
.btn-greenMain:hover{

    color: #008800;
}
.btn-greenMain:active{

    background-color: #00AA00;
}

.btn-grayMain{

    border:1px solid #708090;
    background-color: #708090;
}
.btn-grayMain:hover{

    color: #708090;
}
.btn-grayMain:active{

    background-color: #A9A9A9;
}


.btn-orangeMain{

    border:1px solid #EE7600;
    background-color: #EE7600;
}
.btn-orangeMain:hover{

    color: #EE7600;
}
.btn-orangeMain:active{

    background-color: #EE9A00;
}

.center-row{
    display: inline-block;
    position: relative;
    left:50%;
    transform: translate(-50%);
}
.center-col{
    display: inline-block;
    position: relative;
    top:50%;
    transform: translate(0,-50%);
}
.center-all{

    display: inline-block;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.clearfix:after{
    content: '.';
    display: block;
    height:0;
    clear: both;
    visibility: hidden;
}

.container{
    position: relative;
    width:80%;

    left:50%;
    transform: translate(-50%);
}

.text-link{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #000;
    cursor: pointer;

    transtion:all .3s;
}
.text-link:hover{
    color: #333333;
}


.text-link-red{
    color: #cc0000;
}
.text-link-red:hover{
    color: #FF3333;
}

.text-link-blue{
    color: #009ACD;
}
.text-link-blue:hover{
    color: #00B2EE;
}

.text-link-green{
    color: #008800;
}
.text-link-green:hover{
    color:#00AA00;
}

.text-link-gray{
    color: #708090;
}
.text-link-gray:hover{
    color: #A9A9A9;
}

.text-link-orange{
    color: #EE7600;
}
.text-link-orange:hover{
    color: #EE9A00;
}